@if (isDialogReady) {
  <main>
    <form #form="ngForm" (ngSubmit)="submitForm(form)">
      <button type="button" class="close" (click)="dialogRef.close()">x</button>
      <span class="title">Regisztráció</span>
      <input
        type="text"
        [(ngModel)]="formData.name"
        placeholder="Név"
        name="name"
        required
        [ngClass]="{ invalid: form.submitted && !formData.name }"
      />
      <input
        type="email"
        [(ngModel)]="formData.email"
        placeholder="Email"
        name="email"
        required
        [ngClass]="{ invalid: form.submitted && !formData.email }"
      />
      <input
        type="password"
        [(ngModel)]="formData.password"
        placeholder="Jelszó"
        name="password"
        required
        [ngClass]="{ invalid: form.submitted && !formData.password }"
      />
      <div class="terms-checkbox text-sm">
        <input
          type="checkbox"
          [(ngModel)]="acceptTerms"
          name="acceptTerms"
          required
          id="acceptTerms"
        />
        <label for="acceptTerms">
          Elfogadom az 
          <a routerLink="/contract" target="_blank">ÁSZF</a>-et és az 
          <a routerLink="/dataprotection" target="_blank">ÁT-t</a>.
        </label>
      </div>
      <button 
        type="submit" 
        [disabled]="isSubmitDisabled" 
        [class.disabled]="isSubmitDisabled">
        Regisztráció
      </button>
      <span class="error">{{ errorMessage }}</span>
      <span class="spinner" *ngIf="showSpinner"
        ><mat-spinner color="warn"></mat-spinner
      ></span>
    </form>
  </main>
}
