<main class="flex flex-col items-center mt-24 w-80 mx-auto">
  <img
    src="assets/dot-circle.svg"
    alt="TribeBuddy Logo"
    class="w-56 cursor-pointer"
    (click)="openLoginDialog()"
  />
  <span class="text-yellow-500 text-4xl">TribeBuddy</span>
  <span class="text-xl mt-2 text-white">A segítők segítője</span>
  <span class="mt-20 font-light text-center leading-relaxed"
    >Akár egyéniben, akár csoportokkal dolgozol,<br />rendszerünk lehetővé teszi, hogy még
    inkább rájuk tudj fókuszálni.</span
  >
</main>
