<main class="h-[calc(100vh-100px)] flex flex-col items-center mt-10">
  <span
    class="text-yellow-500 py-3 px-10 rounded-2xl text-4xl border-2 border-yellow-500 mb-20"
    >Állítás</span
  >

  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 md:gap-10 w-full max-w-7xl px-4"
  >
    @for (card of cards; track card.id) {
      <div
        [ngStyle]="{
          'background-image':
            'linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(' +
            getImagePath(card.name) +
            ')',
        }"
        class="bg-cover bg-center bg-no-repeat cursor-pointer shadow flex flex-col items-center justify-between w-[240px] h-[360px] mx-auto rounded-3xl transition-all duration-300"
      >
        <div></div>
        <h2
          class="text-yellow-500 text-3xl md:text-3xl text-center whitespace-pre-line z-10 w-full pb-5 drop-shadow-[0_4px_3px_rgba(0,0,0,0.9)]"
        >
          {{ card.displayName }}
        </h2>
      </div>
    }
  </div>
</main>
