<main class="flex flex-col gap-4 p-4 mt-20">
  <select class="p-2 rounded-lg text-2xl bg-teal-900 text-yellow-500">
    <option *ngFor="let card of cards" [value]="card.id">
      {{ getTranslatedCardName(card.name) }}
    </option>
  </select>

  <select class="p-2 rounded-lg text-2xl bg-teal-900 text-yellow-500">
    <option value="1" selected>Egyéni</option>
    <option value="2">Csoportos</option>
  </select>

  <select class="p-2 rounded-lg text-2xl bg-teal-900 text-yellow-500">
    <option
      *ngFor="let constellation of constellations"
      [value]="constellation.id"
    >
      {{ getTranslatedConstellationName(constellation.name) }}
    </option>
  </select>
</main>
