:host {
  @apply w-full flex justify-center bg-dark-brown;
}
* {
  @apply mb-2;
}
form {
  @apply flex flex-col w-2/3 rounded-bl-xl rounded-br-xl px-3 pt-3 relative border-gold border-2 mb-10 bg-dark-brown;
}
input,
select,
textarea {
  @apply rounded-md p-2 text-gray-400 bg-light-brown;
  border: 1px solid #505050;
  appearance: none;
}
label {
  @apply text-gray-400;
}
.error {
  @apply text-center bg-gold text-dark-brown;
}
.spinner {
  @apply flex justify-center;
}
.mat-warn {
  --mdc-circular-progress-active-indicator-color: #926f34;
}
.invalid {
  border: 1px solid red;
}
