@if (isDialogReady) {
  <main>
    <form #form="ngForm" (ngSubmit)="submitForm()">
      <button type="button" class="close" (click)="dialogRef.close()">x</button>
      <span class="title">Bejelentkezés</span>
      <input type="email" [(ngModel)]="email" placeholder="Email" name="name" />
      <input
        type="password"
        [(ngModel)]="password"
        placeholder="Jelszó"
        name="password"
      />
      <button type="submit">Bejelentkezem</button>
      <span class="error">{{ errorMessage }}</span>
      <span class="spinner" *ngIf="showSpinner"
        ><mat-spinner color="warn"></mat-spinner
      ></span>
    </form>
  </main>
}
