<div class="flex flex-col items-center justify-center mt-10">
  <h2 class="text-2xl text-center text-white mb-5" *ngIf="clientName">
    Add meg {{ clientName }} génkulcsait!
  </h2>
  <div class="w-48 h-[98vh] flex flex-col gap-1">
    <div class="flex flex-col gap-[2px]">
      <div
        *ngFor="let key of geneKeys; let i = index"
        class="relative h-[calc((90vh_-_4.5rem)_/_13)]"
      >
        <div
          class="absolute inset-0 flex items-center justify-center bg-teal-950 rounded text-center text-base border border-yellow-500"
          [class.hidden]="focusedIndex === i || geneKeyValues[key]"
        >
          {{ getTranslatedGeneKey(key) }}
        </div>
        <input
          type="text"
          maxlength="2"
          inputmode="numeric"
          [(ngModel)]="geneKeyValues[key]"
          (keydown)="onKeyDown($event)"
          (input)="validateInput($event, key)"
          class="relative w-full h-full px-0 rounded text-center focus:border-blue-500 focus:outline-none text-base sm:text-lg flex items-center justify-center border border-yellow-500 text-yellow-500 bg-teal-950"
          [class.bg-transparent]="!geneKeyValues[key] && focusedIndex !== i"
          (focus)="onFocus(i)"
          (blur)="onBlur()"
          placeholder=" "
        />
      </div>
    </div>
    <button
      (click)="onSubmit()"
      [disabled]="!isFormValid()"
      class="w-full p-2 rounded-lg text-lg sm:text-xl bg-yellow-500 text-teal-900 enabled:hover:bg-yellow-400 disabled:opacity-50 disabled:cursor-not-allowed"
    >
      Mehet
    </button>
  </div>
</div>
