<div class="container mx-auto px-4 py-8 w-2/3 text-justify">
  <h1 class="text-3xl font-bold mb-6 text-gold text-center">
    Általános Szerződési Feltételek
  </h1>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-4 text-gold">Preambulum</h2>
    <p class="mb-4">
      Ha a jelen Általános Szerződési Feltételekkel, a https://woman4you.hu/
      weboldalunk használatával, a szolgáltatás igénybevételével kapcsolatban
      kérdése merült fel, vagy amennyiben egyedi igényét szeretné velünk
      megbeszélni, úgy kérjük, vegye fel munkatársunkkal a kapcsolatot az alább
      megadott elérhetőségen!
    </p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-4 text-gold">
      Szolgáltató (Vállalkozás) adatai
    </h2>
    <ul class="list-none mb-4">
      <li>Név: Only-4-You Személyes Szolgáltatás Bt.</li>
      <li>Székhely: 9700 Szombathely, Kodály Zoltán u. 18. 4/13.</li>
      <li>Adószám: 22382388-2-18</li>
      <li>E-mail: info&#64;woman4you.hu</li>
    </ul>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-4 text-gold">
      A jelen ÁSZF-ben használt fogalmak
    </h2>
    <ul class="list-disc pl-6 space-y-3">
      <li>
        <span class="font-semibold">Felek:</span> Szolgáltató és az oldalt
        látogató személy együttesen
      </li>

      <li>
        <span class="font-semibold">Fogyasztó:</span> az önálló foglalkozásán és
        gazdasági tevékenységén kívül eső célok érdekében eljáró természetes
        személy, aki árut vesz, rendel, kap, használ, igénybe vesz vagy az
        áruval kapcsolatos kereskedelmi kommunikáció, ajánlat címzettje.
      </li>

      <li>
        <span class="font-semibold">Fogyasztói szerződés:</span> olyan
        szerződés, melynek egyik alanya fogyasztónak minősül
      </li>

      <li>
        <span class="font-semibold">Panasz:</span> olyan kérelem, amely egyéni
        jog- vagy érdeksérelem megszüntetésére irányul, és elintézése nem
        tartozik más - így különösen bírósági, közigazgatási - eljárás hatálya
        alá. A panasz javaslatot is tartalmazhat.
      </li>

      <li>
        <span class="font-semibold">Szolgáltatás:</span> termék, ingatlan vagy
        vagyoni értékű jog értékesítésén kívül minden olyan - ellenszolgáltatás
        fejében végzett - tevékenység, amely a megrendelő, illetve megbízó
        igényének kielégítésére valamely eredmény létrehozását, teljesítmény
        nyújtását vagy más magatartás tanúsítását foglalja magában
      </li>

      <li>
        <span class="font-semibold">Békéltető testület:</span> tartós alapon
        létrejött, a fogyasztói jogviták alternatív vitarendezési eljárás
        keretében történő rendezésével foglalkozó szervezet, amelyet az e
        törvényben meghatározott szerv (személy) nyilvántartásba vett
      </li>

      <li>
        <span class="font-semibold">Vételár:</span> a szolgáltatásért fizetendő
        ellenszolgáltatás.
      </li>
    </ul>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-4 text-gold">
      Az ÁSZF hatálya, elfogadása
    </h2>
    <p class="mb-4">
      A közöttünk létrejövő szerződés tartalmát – a vonatkozó kötelező érvényű
      jogszabályok rendelkezései mellett – a jelen Általános Szerződési
      Feltételek (a továbbiakban: ÁSZF) határozzák meg. Ennek megfelelően
      tartalmazza a jelen ÁSZF az Önt és bennünket illető jogokat és
      kötelezettségeket, a szerződés létrejöttének feltételeit, a teljesítési
      határidőket, a fizetési feltételeket és a felelősségi szabályokat.
    </p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-4 text-gold">
      A szerződés nyelve, a szerződés formája
    </h2>
    <p class="mb-4">
      A jelen ÁSZF hatálya alá tartozó szerződés nyelve a magyar nyelv.
    </p>
    <p class="mb-4">
      A jelen ÁSZF hatálya alá tartozó szerződések nem minősülnek írásba foglalt
      szerződéseknek, azokat az Szolgáltató nem iktatja. A Szerződésre a magyar
      jog előírásai az irányadóak. Szerződő Fél kizárólag természetes személy
      lehet.
    </p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-4 text-gold">
      Általános szerződési feltételek
    </h2>
    <p class="mb-4">
      Szolgáltatásunk igénybevételeinek szabályai az alábbiakban kerülnek
      összefoglalásra
    </p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-4 text-gold">
      Szolgáltatás lényege röviden
    </h2>
    <p class="mb-4">
      A weboldal adatbázis biztosításával járul az arra regisztrálók közötti
      kapcsolatfelvételhez. A szolgáltatás kizárólag a regisztrált személyek
      számára áll rendelkezésre. A cél az, hogy férfiak, az általuk szabadon
      szervezett (a Szolgáltató ebben nem vállal szerepet) programokra női
      partnert találjanak. A kapcsolatfelvétel egyoldalúan, minden esetben a férfi
      által kezdeményezett, az általa - az adatbázisból - kiválasztott
      regisztrált női (tag) irányába. A Szolgáltatás keretében a nő
      elfogadja vagy elutasítja a kapcsolatfelvételt. Amennyiben elutasítja,
      akkor várnia kell a következő kezdeményezésre valamely férfi részéről,
      mert a nők e Szolgáltatás keretén belül nem tudnak kapcsolatot
      kezdeményezni a férfi tagokkal.
    </p>
    <p class="mb-4">
      A regisztráló ügyfelek Szolgáltatóval kötött szerződése kizárólag arra
      irányul, hogy a fenti cél megvalósulását a regisztráció folyamán önként
      megadott személyes információkat a tagok számára a tagsági időszakon belül
      hozzáférhetővé teszi.
    </p>
    <p class="mb-4">
      Szolgáltató a találkozók megszervezésében és az így létrejött kapcsolat
      további folyamatában semmilyen módon nem vesz részt. A szolgáltatást
      igénybe vevők egymás közötti pénzügyi elszámolása (amennyiben egyáltalán
      erre sor kerül) teljes egészében kívül esik Szolgáltató hatáskörén, abból
      ő semmilyen módon és mértékben nem részesül.
    </p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-4 text-gold">
      1. A szerződés létrejötte
    </h2>
    <p class="mb-4">
      A szerződés a https://woman4you.hu/ weboldalra történő önkéntes
      regisztrációjával jön létre. A Regisztráció linken elérhető folyamat végigvitelével
      történik, azt követően, hogy a regisztrálni szándékozó személy elindítja
      azt.
    </p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-4 text-gold">
      Szerződési feltételek elfogadása és szavatolás
    </h2>
    <p class="mb-4">
      Jelen Szerződési feltételek elfogadásával Ön kijelenti és szavatol a
      következőkért:
    </p>
    <ul class="list-disc pl-6 space-y-3">
      <li>A regisztráció időpontjában betöltötte a 18. életévét.</li>
      <li>
        Tudomásul veszi, hogy regisztrációjával Ön a Szolgáltató által
        működtetett https://woman4you.hu szolgáltatás adatbázisában
        regisztrálásra kerül. Az ehhez kapcsolódó adatkezelési szabályokról az
        Adatkezelési tájékoztatónk ad további információt.
      </li>
    </ul>
    <p class="mb-4 mt-4">
      Szolgáltató fenntartja magának azt a jogot, hogy a jelen szerződési
      feltételeket bármikor megváltoztassa. Jelen szerződési feltételek
      módosítása esetén, a frissített feltételeket haladéktalanul közzéteszi a
      weboldal Általános Szerződési Feltételek felületén. Az előzőek szerint
      módosított Általános Szerződési Feltételek a közzététel napját követő nap
      nulla órától lép hatályba.
    </p>
    <p class="mb-4">
      A módosított ÁSZF a hatályba lépését követően regisztráló felhasználókra
      (tagokra) azonnal, a már regisztrációval rendelkezőkre azt követően léphet
      hatályba, hogy a már folyamatban lévő, díjjal fedezett előfizetési
      időszaka lejár. Amennyiben a tag új időszakra fizet elő, arra már (és
      attól kezdve a továbbiakban) a megváltozott feltételek lesznek érvényesek
      az ő számukra is.
    </p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-4 text-gold">A regisztráció</h2>
    <p class="mb-4">
      A regisztráció a regisztrációs adatlap kitöltésével kezdődik, melyben
      Szolgáltató előre meghatározott információk kérése mellett lehetőséget ad
      a tagok számára szabad szöveges tájékoztatás adására is. A szabad szöveges
      rész kizárólag a tagnak önmagára jellemző információi megosztására
      irányulhat, nem tartalmazhat mások számára sértő, bántó megjegyzéseket.
    </p>

    <p class="mb-4">
      Szolgáltató fenntartja magának a tag által rögzített kommunikáció
      felügyeleti jogát, valamint a jogot arra, hogy a jelen Megállapodásban
      meghatározott okokból eltávolítson bármely információt, fényképet és/vagy
      bármely más, a tag által közzétett anyagot.
    </p>

    <p class="mb-4">
      Szolgáltató fenntartja a regisztrált tag elutasításának, valamint a tagság
      megszüntetésének jogát.
    </p>

    <p class="mb-4">
      A jelen Megállapodásban foglaltak alapján a tagok felelnek az általuk
      közzétett információért. Hamis, valamint jogsértő adatok közzététele a
      Megállapodás azonnali hatályú felmondását és a tag kizárását vonja maga
      után. Ugyanakkor Szolgáltató fontosnak tartja felhívni az Ön figyelmét
      arra, hogy korlátozottan tudja ellenőrizni a minőséget, kompatibilitást
      vagy a tagok biztonságát, továbbá bármely, a weboldalon közzétett közlés
      igazságtartalmát, pontosságát vagy teljességét. Szolgáltató kifejezetten
      kéri Önt, hogy ennek tudatában vegye igénybe a szolgáltatást!
    </p>

    <p class="mb-4">
      A jelen Általános Szerződési Feltételekben található tilalmak ellenére a
      tagok által kitöltött adatlap pontatlan vagy megtévesztő információkat is
      tartalmazhat!
    </p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-4 text-gold">
      A weboldal használatához kapcsolódó személyes adatokról
    </h2>
    <p class="mb-4">
      A regisztráció megkezdése előtt Ön kifejezetten hozzájárul a megadott
      személyes adatok Szolgáltató általi kezeléséhez és a tagok körében történő
      nyilvánosságra hozatalához, illetve szavatolja, hogy a szükséges
      hozzájárulás birtokában adja meg az adatokat. Az adatkezeléshez történő
      hozzájárulás nélkül regisztrációra, így a szolgáltatás igénybevételére
      sincs lehetőség. Szolgáltató az adatkezeléséről Adatkezelési tájékoztatót
      tesz közzé a weboldalon és kéri, hogy ezt minden felhasználó (a
      szolgáltatás iránt érdeklődő) személy figyelmesen tekintse át.
      Regisztrálásra e szabályok ill. tájékoztatás elfogadása esetén nyílik
      lehetőség.
    </p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-4 text-gold">
      A profilban regisztrált személyes adatok köre
    </h2>
    <ul class="list-disc pl-6 space-y-3 mb-4">
      <li>művésznév</li>
      <li>beszélt nyelv(ek)</li>
      <li>kedvencek: film, étel, ital, zene, könyv</li>
      <li>életkor, magasság, testalkat</li>
      <li>megye vagy település megnevezése, ahol elérhető</li>
      <li>
        fénykép feltöltés lehetősége és annak megválasztása, hogy ez látható
        legyen-e a bejelentkezett tagok számára
      </li>
      <li>szabad szöveges rész, hogy a tag bemutathassa magát</li>
    </ul>

    <p class="mb-4">
      A regisztrációs lapot kitöltő hölgyeknek választania kell: a weboldalra
      látogató személyek (bárki) számára látható legyen a róla, általa rögzített
      valamennyi információ (a teljes adatlap), vagy csak a regisztrált tagok
      számára.
    </p>

    <p class="mb-4">
      A férfiak adatlapja sohasem nyilvános: kizárólag azon hölgyek számára
      válik láthatóvá, akikkel az adott férfi felvette a kapcsolatot.
    </p>

    <p class="mb-4">
      Amennyiben a tag saját magáról bármely bizalmas vagy kényes információt
      közzétesz és/vagy másnak kiad, azt kizárólag saját felelősségére teszi.
    </p>

    <p class="mb-4">
      A tag kizárólagos felelősséget vállal a Szolgáltatáson keresztül közzétett
      Adatlap tartalmáért. Az Adatlapon megjelenő információkat bármikor
      módosíthatja vagy akár törölheti is.
    </p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-4 text-gold">
      A regisztráció általános feltételei
    </h2>
    <ol class="list-decimal pl-6 space-y-4">
      <li>
        Annak megerősítése, hogy a regisztrálni kívánó személy az ÁSZF és az
        Adatkezelési Tájékoztató tartalmát ismeri és elfogadja.
      </li>

      <li>
        Szolgáltató a regisztrációnak a tag általi lezárását követően aktiválja
        annak megjelenését a tagok számára.
      </li>

      <li>
        A regisztrációval létrehozott profil személyes adatok, jellemzők
        rögzítésére és nyilvános megjelenítésére szolgál. Az ott megadott
        adatokat Szolgáltató semmilyen, a jelen szolgáltatástól eltérő célra nem
        használja fel.
      </li>

      <li>
        A regisztrációjával mindenki kötelezettséget vállal arra, hogy az általa
        szabadon szerkeszthető levéltartalom, valamint a profiljában
        feltüntetésre kerülő vagy általa közzétett adatok, információk, fotók
        nem ütköznek sem jogszabályba, sem jó erkölcsbe, azok tartalma a
        valóságnak megfelel, az Szolgáltató vagy harmadik személy jogát vagy
        jogos érdekét nem sérti, és a Szolgáltatást reklám, illetve
        állevél-küldés céljára nem használja, továbbá semmilyen módon nem
        törekszik a Szolgáltatás kijátszására, megkerülésére, annak
        tisztességtelen igénybevételére.
      </li>

      <li>
        A tagok tudomásul veszik, hogy amennyiben a szolgáltatáshoz kapcsolódó
        bármely magatartásuk vélhetően vagy bizonyíthatóan jó erkölcsbe,
        hatályos jogszabályokba vagy joggyakorlatba, a Szolgáltató jogaiba vagy
        érdekeibe ütközik, Szolgáltató bármikor indokolás és jelzés nélkül
        megtagadhatja vagy zárolhatja a regisztrációját. A zárolás időtartama az
        eset körülményeitől függően legfeljebb 12 hónap, a zárolt adatokat
        Szolgáltató a rendőrség vagy más hatóság megkeresésére kiadja.
      </li>

      <li>
        A tag sem nyíltan, sem burkoltan nem használhatja a Szolgáltatást más
        weboldal, szolgáltatás és/vagy üzlet reklámozására, beleértve többek
        között személyes e-mail címek, URL-ek és/vagy más személyes
        telefonszámok közzétételét is az Adatlapon, valamint különösen nem
        ajánlhat fel vagy reklámozhat szexuális szolgáltatást.
      </li>

      <li>
        A tag sem nyíltan, sem burkoltan nem szerezhet a tagok közül új
        ügyfeleket, nem adhat vagy vehet termékeket és/vagy szolgáltatásokat a
        Szolgáltatás igénybevételével.
      </li>

      <li>
        Nem másolhatja le sem egészében, sem részben a weboldalon található
        információkat, adatokat (beleértve - nem kizárólagosan – más Tagok
        adatlapján található információkat is) a jelen ÁSZF-ben lefektetettektől
        eltérő célból.
      </li>

      <li>
        Egyik tag sem küldhet körleveleket, spam-eket vagy egyéb, kéretlen
        e-mailt más Tagoknak. Semmilyen módon nem adhatja át, ruházhatja át,
        oszthatja meg felhasználói jogosultságait és/vagy jogosíthat fel bármely
        harmadik személyt a szolgáltatás helyette történő használatára.
      </li>

      <li>
        Nem továbbíthat és/vagy tehet közzé és/vagy e-mailezhet más Tagnak olyan
        információt, képet és/vagy más anyagot, amely pornográf, fajgyűlölő,
        sértegető, rágalmazó, zaklató, megbotránkoztató, fenyegető tartalmú,
        becsületsértő és/vagy trágár. Büntetőjogi felelőssége tudatában
        nyilatkozik, hogy a weboldalon nem követ el a mindenkor hatályos Btk.
        szerint üldözendő bűncselekményt.
      </li>

      <li>
        Nem továbbíthat és/vagy tehet közzé és/vagy e-mailezhet más Tagnak olyan
        információt, képet és/vagy más anyagot, amely alkalmas arra, hogy más
        Tagok politikai és/vagy vallási meggyőződését sértse, illetve amelynek
        birtoklása, közzététele, továbbítása jogszabályba ütközik.
      </li>

      <li>
        Nem tölthet fel a Szolgáltatásra olyan anyagokat, amelyek vírust
        tartalmaznak, vagy szerzői jogi védelem alá esnek.
      </li>

      <li>
        Nem használhat olyan berendezést, szoftvert vagy programot, melyek
        megkísérelnek beavatkozni a weboldal rendeltetésszerű használatába.
      </li>

      <li>
        Az Adatlapon tilos a közízlést sértő magatartás, a faji előítéletre való
        buzdítás vagy az ilyen eszmék népszerűsítése. Tilos egyéb oldalak, vagy
        a felhasználó saját oldalának, szolgáltatásának reklámozása. Tilos
        saját, vagy más különleges személyes adatainak megjelenítése. Tilos a
        más felhasználók felé folytatott személyes és célzott kommunikáció,
        mások sértegetése.
      </li>

      <li>
        A felhasználónak tilos többszörös regisztrációt létrehoznia a
        felhasználók megtévesztésének elkerülése céljából.
      </li>

      <li>
        Amennyiben a tag a fenti szabályok bármelyikét megsérti, úgy jogot
        Szolgáltatónak jogában áll a kérdéses üzenet, vagy tartalom automatikus
        törlése, az Adatlap akár részben, akár egészben történő közzétételének
        meggátolása, és/vagy a Szolgáltatáshoz való hozzáférés zárolása, a
        Szolgáltatásból való kizárás akár részben, akár egészben, időszakosan
        vagy véglegesen, kártérítés vagy bármely visszafizetés nélkül, az
        esetleges büntető-és/vagy polgári jogi következmények mellett.
      </li>
    </ol>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-4 text-gold">
      2. A weboldal használata
    </h2>
    <p class="mb-4">
      A regisztrációval létrejövő profil (Adatlap) a weboldalt meglátogató
      felhasználók eligazodását, tájékozódását segíti. A profil a Belépés
      menüpontra kattintva, az azonosító adatok (érvényes e-mail cím, jelszó)
      megadásával érhető el (belépés). A weboldal szolgáltatása a profilba
      történő belépést követően válik láthatóvá.
    </p>
    <p class="mb-4">
      Amennyiben a tag elfelejtette jelszavát, a belépés oldalon lehetősége van
      új jelszót kérni. Az általa megadott e-mail címre küldött elektronikus
      levélben található linkre kattintva beléphet a profiljába, és/vagy
      megadhatja új jelszavát. Ha a Belépés sikertelen, a Szolgáltató
      ügyfélszolgálatának e-mail címére (info&#64;woman4you.hu) küldött
      levélben kérhet segítséget.
    </p>
    <p class="mb-4">
      A regisztrációval a nők (tagok) egyértelmű, önkéntes és kifejezett
      hozzájárulásukat adják ahhoz, hogy az általuk megadott adatokat a
      Szolgáltató a tagok vagy bárki, az oldalra látogató személy részére
      nyilvánosságra hozza (a tag döntése alapján).
    </p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-4 text-gold">Díjfizetés</h2>
    <ol class="list-decimal pl-6 space-y-4">
      <li>
        Szolgáltató a partnerek számra (nőknek) egy vagy három havi, a férfiak
        számára egy havi előfizetési rendszert alkalmaz. A jelen pontban
        ismertetésre kerülnek a díjfizetési rendszer általános szabályai,
        valamint az egyes eltérő elszámolási rendszerben lévő előírások.
      </li>
      <li>Az előfizetési díjak az áfát tartalmazzák.</li>
      <li>
        A szolgáltatás használatához havi előfizetésre van szükség, melyet a
        Szolgáltató Raiffeisen banknál vezetett bankszámlájára történő online
        fizetéssel van mód teljesíteni.
      </li>
      <li>
        Az előfizetés a weboldalon megtalálható csomagajánlatok egyike
        ellenértékének megfizetésével jön létre. A Szolgáltató a beérkezett
        utalásokról minden esetben számlát állít ki és küld meg e-mailben a tag
        részére.
      </li>
      <li>
        A bankkártyával történő online fizetés az OTP Mobil Kft. által
        üzemeltetett SimplePay rendszeren keresztül történik. Ezekben az
        esetekben a felhasználó egyes személyes adatai átadásra kerülnek az
        online fizetési szolgáltatást nyújtó OTP Mobil Kft. (1138 Budapest, Váci
        út 135-139. B. ép. 5. emelet), mint adatkezelő részére. A továbbított
        adatok köre: vezetéknév, a keresztnév, az ország, a számlázási cím és az
        e-mail cím. Az adattovábbítás célja: a felhasználó részére történő
        ügyfélszolgálati segítségnyújtás, a Tranzakciók visszaigazolása és a
        felhasználók védelme érdekében végzett aktív csalás-figyelés és
        megelőzés (fraud-monitoring). A SimplePay adatkezeléséről részletesebb
        információt az adatkezelési tájékoztatójuk tartalmaz:
        <a
          href="https://simplepay.hu/adatkezelesi-tajekoztatok/"
          class="text-gold hover:underline"
          target="_blank"
          >https://simplepay.hu/adatkezelesi-tajekoztatok/</a
        >
      </li>
    </ol>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-4 text-gold">
      3. A szolgáltatás használata során lehetséges jogsértések és a felelősség
    </h2>
    <p class="mb-4">
      Szolgáltató törekszik a szolgáltatás folyamatos és hibamentes
      üzemeltetésére, ugyanakkor kizárja a felelősségét a szolgáltatás hibás
      vagy nem rendeltetésszerű működéséből eredő bármely következmény
      vonatkozásában, így különösen a Szolgáltatás üzemelésében beálló
      kimaradás, a használattal összefüggésben történő számítógép-meghibásodás,
      adatvesztés, valamint tőle független személyek által megvalósított,
      információs rendszerek biztonságát sértő magatartások esetén.
    </p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-4 text-gold">
      4. A jelen Szerződés megszűnése, az elállási joga
    </h2>
    <ol class="list-decimal pl-6 space-y-4">
      <li>
        A Szolgáltató törölheti a regisztrációt és valamennyi, a profilhoz
        tartozó adatot és információt, amennyiben a tag megszegi a jelen
        Szerződés feltételeit. Ilyenkor a tag adatai és a profilhoz tartozó
        információk nem maradnak (nem tárolódnak) a rendszerben.
      </li>
      <li>
        A tag tudomásul veszi, hogy az ÁSZF megszegése esetén a regisztráció
        törlésre kerülhet. A Szolgáltató kizárja a felelősséget minden,
        esetlegesen abból eredő kárért, ha a tag a jelen ÁSZF feltételekbe
        ütköző magatartása vagy jogszabály megsértése miatt törölte a profilt.
      </li>
      <li>
        A regisztráció bármely okból történő törlése esetén a jelen Szerződés
        automatikusan és azonnali hatállyal megszűnik. <br /><br />- Amennyiben
        az adatlapot (regisztrációt) a tag egy megfizetett, de még le nem járt
        tartamú időszak vége előtt véglegesen törli, akkor tudomásul veszi, hogy
        az időszak végéig járó díjrészt Szolgáltatónak nem áll módjában
        visszafizetni. <br /><br />
        - Abban az esetben, ha az adatlapot a Szolgáltató egy – tag által -
        díjrendezett időszakon belül törli, akkor köteles a tartam hátralévő
        időtartamára eső (töredék) díjat visszatéríteni a tag részére.
      </li>
      <li>
        Szolgáltató fenntartja a jogot, hogy Szolgáltatás egészét bármikor,
        előzetes figyelmeztetés nélkül megszüntesse, amely esetben a jelen
        Szerződés automatikusan megszűnik.
      </li>
    </ol>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-4 text-gold">5. Panaszkezelés</h2>
    <p class="mb-4">
      A szolgáltatás során esetlegesen felmerülő panaszát Ön a jelen ÁSZF-ben
      rögzített elérhetőségek valamelyikén teheti meg. A Panaszkezelésünk minden
      esetben térítésmentes.
    </p>
    <p class="mb-4">Írásbeli panasz</p>
    <ul class="list-disc pl-6 space-y-3">
      <li>
        Írásbeli panasz esetén a panasz ügyet a beérkezést követően
        megvizsgáljuk és vizsgálat eredményéről a panasz közlését követő 30
        napon belül írásbeli választ küldünk. Igény esetén a vizsgálat
        eredményéről Szolgáltató elektronikus úton értesítést küld.
      </li>
      <li>
        A panaszt a hatályos jogszabályi előírások alapján a vizsgáljuk meg,
        utasítjuk el, vagy orvosoljuk.
      </li>
      <li>
        Válaszlevelünkben kitérünk a panasz teljes körű kivizsgálásának
        eredményére, a panasz orvoslása érdekében tett intézkedésekre,
        elutasítás esetén pedig az elutasítás indokaira. A tájékoztatását
        egyértelmű, közérthető indokolással látjuk el, melynek során egyszerű
        nyelvezetet használunk, kerülve a jogi szakkifejezések indokolatlan
        használatát. Törekszünk arra, hogy válaszlevelünkben valamennyi
        kifogására érdemi választ adjunk.
      </li>
      <li>
        A panaszkezelés során a panaszos által megadott adatokat az információs
        és önrendelkezési jogról és az információszabadságról szóló 2011. évi
        CXII. törvény rendelkezéseinek megfelelően kezeljük.
      </li>
      <li>
        Az írásbeli panaszokat – beleértve a személyes megjelenés során előadott
        panaszról készült jegyzőkönyvet is – továbbá az azokra adott válaszokat
        öt évig archiváljuk. A megőrzési idő elteltével az adathordozókat
        (okiratokat) leselejtezzük.
      </li>
      <li>
        A panasznyilvántartásban rögzített személyes adatokat kizárólag a
        panaszügyek regisztrálásának és a panaszügyek elbírálásának céljából
        használjuk fel.
      </li>
    </ul>
    <p class="my-4">Jogorvoslat</p>
    <p class="mb-4">
      Amennyiben panasza teljesen vagy részlegesen elutasításra kerül, vagy a
      panasz kivizsgálására fent megszabott határidő eredménytelenül eltelt,
      vagy bármilyen fogyasztói panaszt kívánsz benyújtani, úgy a területileg
      illetékes járási kormányhivatalhoz fordulhatsz. Erről bővebb információ az
      alábbi linken érhető el: http://jarasinfo.gov.hu
    </p>
  </section>

  <section class="mb-8">
    <h2 class="text-xl font-semibold mb-4 text-gold">
      6. Egyéb rendelkezések
    </h2>
    <ul class="list-disc pl-6 space-y-3 mb-4">
      <li>
        Nem jelenti a szerződésszegés jóváhagyását vagy nem ad alapot egyéb más
        szerződésszegésre, ha nem lépünk fel haladéktalanul egy esetleges
        szerződésszegő magatartás ellen.
      </li>
      <li>
        Jelen dokumentum tartalmazza a Felek között létrejött teljes
        megállapodást. Ha valamely illetékes hatóság jelen Megállapodás bármely
        rendelkezését akár részben, akár egészében érvénytelennek vagy
        végrehajthatatlannak tartja, az érintett rendelkezés fennmaradó része,
        továbbá a Megállapodás további rendelkezései érintetlenül hatályban és
        érvényben maradnak.
      </li>
      <li>
        Adatkezeléssel kapcsolatos észrevételeit, panaszait a Nemzeti
        Adatvédelmi és Információszabadság Hatóság (1055 Budapest, Falk Miksa u.
        9-11; ugyfelszolgalat&#64;naih.hu) felé teheti meg.
      </li>
    </ul>

    <p class="mb-4">
      A Szolgáltatás használatának szerződéskötést követő azonnali megkezdése okán a
      jelen szerződéstől elállni nem lehet, azonban felmondási jog a profil
      törlésével gyakorolható, illetve egy előfizetési időszak lejártával bármikor
      szüneteltethető a tovább előfizetés. Ilyen esetben a Szolgáltató a meglévő
      Adatlapot 5 évig megőrzi, de annak elérhetősége a tagok számára megszűnik. A
      tag az Adatlapját bármikor törölheti.
    </p>

    <p class="mb-4">
      A Szolgáltató fenntartja a jogot, hogy a szolgáltatás bármely tartalmi
      elemét bármikor előzetes figyelmeztetés nélkül módosítsa vagy megszüntesse,
      azok megjelenését, tartalmát, működését megváltoztassa, azon hirdetést,
      saját szolgáltatásait bemutató vagy egyéb tartalmat helyezzen el.
    </p>

    <p class="mb-4">
      A Szolgáltatás működtetése és üzemeltetése az elektronikus kereskedelmi
      szolgáltatásokról szóló 2001. évi CVIII. törvény rendelkezései alapján
      történik.
    </p>

    <p class="mb-4">
      A Szolgáltatás működésével (belépés, regisztráció, jelszó stb.) kapcsolatos
      problémák az ügyfélszolgálatnak jelezhetők, a kapcsolatfelvételi űrlapon
      vagy az Impresszum linken található elérhetőségeken keresztül.
    </p>

    <p class="mb-4">
      Jelen ÁSZF-ben nem szabályozott kérdésekben a magyar jogszabályok,
      elsődlegesen a Polgári Törvénykönyvről szóló 2013. évi V. Törvény szabályai
      az irányadóak.
    </p>
  </section>

  <footer class="mt-8 text-sm text-white">
    <p>Szombathely, 2023. szeptember</p>
  </footer>
</div>
