<main class="h-[calc(100vh-100px)] flex flex-col items-center mt-16">
  <span
    class="text-yellow-500 py-3 px-10 rounded-2xl text-4xl border-2 border-yellow-500 mb-8"
    >Kártyák</span
  >

  <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-10 w-full max-w-7xl px-4"
  >
    @for (card of cards; track card.id) {
      <div
        class="bg-yellow-500 hover:bg-yellow-400 cursor-pointer shadow flex flex-col items-center justify-center w-full aspect-square min-h-[200px] rounded-3xl transition-all duration-300 p-4"
      >
        <h2 class="text-teal-950 text-2xl md:text-3xl mb-2 text-center">
          {{ card.displayName }}
        </h2>
        <p class="text-teal-950 text-base md:text-lg text-center">
          kártyacsomag
        </p>
      </div>
    }
  </div>
</main>
