@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  @apply bg-teal-950 text-gray-400;
}

:root {
  --nav-height: 45px;
}

.cdk-overlay-dark-backdrop {
  @apply bg-teal-950;
}

/* cdk-dialog-container {
  position: fixed;
  top: 20%;
  left: calc(50% - 144px);
} */

.mat-mdc-checkbox.mat-mdc-checkbox-checked .mdc-checkbox__background,
.mdc-checkbox__ripple {
  background-color: grey !important;
  border-color: grey !important;
}

.mdc-snackbar__surface {
  background-color: #a18e58 !important;
}

.mdc-snackbar__label {
  color: white !important;
  text-align: center;
}

.mdc-snack-bar-container {
    border-radius: 12px !important;
}

button {
  @apply text-teal-950 py-2 px-6 rounded-lg cursor-pointer text-center bg-yellow-500;
}