<main class="w-full mt-10">
  <div class="row">
    <div class="column">
      <span class="subtitle">Legyen csajod!</span>
            <button class="w-72 mt-48" (click)="openRegistrationDialog()">
        Akarok nőt!
      </button>
    </div>
    <div class="column">
      <span class="subtitle">Legyél partnernő!</span>
      <p class="text">
        <img src="assets/womanpartner.jpg" alt="Legyél partnernő!" />A hölgy,
        aki kedves és figyelmes, miközben tiszteletben tartja a férfiak igényeit
        és határait. Te vagy az, aki minőségi időt szeretne tölteni, de az urak
        is ezért jöttek, így neked fontos, hogy mindketten jól érezzétek
        magatokat. És te vagy az is, aki tudja, mit jelent egy férfi életében
        egy magabiztos, intelligens, megbízható nő, még ha csak rövid időre kér
        is arra, hogy legyél neki mindez.... Ha kellemes társaság vagy, az bőven
        elég.
      </p>
      <button class="w-72" (click)="openRegistrationDialog()">
        Regisztrálok
      </button>
    </div>
    <div class="column">
      <span class="subtitle">Társoldalunk</span>
      <a href="https://man4you.hu/" target="_blank">
        <img src="assets/man4you.png" alt="Man4you" />
      </a>
    </div>
  </div>
  <p class="mt-14 text-white text-3xl text-center mb-5">Rólunk</p>
  <div class="flex justify-center">
    <div class="text-white leading-loose text-xl font-light text-center w-3/4 mb-14">
      Salala
    </div>
  </div>
  <div class="flex justify-center items-center gap-9">
    <div class="column"></div>
    <div class="column"></div>
    <div class="column"></div>
  </div>
</main>
