<form enctype="multipart/form-data">
  <div class="h-4">
    <mat-progress-bar
      *ngIf="isUploading"
      mode="determinate"
      [value]="uploadProgress"
    ></mat-progress-bar>
  </div>
  <input
    type="file"
    id="fileInput"
    name="fileInput"
    (change)="onFileSelectedAndSubmit($event)"
    accept="image/*"
    required
    class="hidden"
  />
  <div class="flex justify-center">
    <label
      for="fileInput"
      class="bg-gold text-white p-2 rounded cursor-pointer text-center w-52 text-lg"
      >Feltöltök egy fotót</label
    >
  </div>
  <button (click)="onSubmit()" [disabled]="isUploading" class="p-0"></button>
  <p class="text-center text-gold mt-3">Max. 10 db fotót tudsz feltölteni.</p>
</form>
